<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link th:href="@{/css/register.css}" rel="stylesheet" />
    <title>ユーザー新規登録画面</title>
</head>
<body>
	    <form th:action="@{/register}" method="post" th:object="${LoginFormWithValidation}">
			<h1>ユーザー新規登録画面</h1>
	        <div>
	            <label>ユーザ名：</label>
	            <input th:field="*{user_name}" type="text" name="username" required>
				<span th:errors="*{user_name}"></span>
	        </div>
	        <div>
	            <label>メールアドレス：</label>
	            <input th:field="*{email}" type="email" name="email" required>
				<span th:errors="*{email}"></span>
	        </div>
	        <div>
	            <label>パスワード：</label>
	            <input th:field="*{password}" type="password" name="password" required>
				<span th:errors="*{password}"></span>
	        </div>
	        <div>
	            <label>パスワード（確認用）：</label>
	            <input type="password" name="confirmPassword" required>
	        </div>
	        <pdiv>
	            <button type="submit">登録</button>
	            <p><a th:href="@{/login}">戻る</a></p>
	        </div>
	    </form>

	    <div th:if="${error}">
	        <p th:text="${error}"></p>
	    </div>
	    <div th:if="${message}">
	        <p th:text="${message}"></p>
	    </div>
</body>
</html>

